@import '../../theme';

.dh-btn {
  cursor: pointer;
  // @include font-face($font-G8, $text-md);
  transition: all .25s;

  /* START COLOR */
  &.is-disabled {
    background-color: #BFD5E4 !important;
    border-color: #BFD5E4 !important;
    cursor: default !important;
  }

  &.is-blue {
    background-color: $color-secondary-blue-50;
    border: 1px solid $color-secondary-blue-50;
    color: $color-primary-white;
    // &:hover {
    //   background-color: $color-primary-white;
    //   color: $color-secondary-blue-50;
    // }
  }
  &.is-blue-light {
    background-color: $color-subsidiary-blue-25;
    border: 1px solid $color-subsidiary-blue-25;
    color: $color-primary-white;
    // &:hover {
    //   background-color: $color-primary-white;
    //   color: $color-subsidiary-blue-25;
    // }
  }
  &.is-orange {
    background-color: $color-primary-orange;
    border: 1px solid $color-primary-orange;
    color: $color-primary-white;
    // &:hover {
    //   background-color: $color-primary-white;
    //   color: $color-primary-orange;
    // }
  }
  &.is-red {
    background-color: $color-secondary-red;
    border: 1px solid $color-secondary-red;
    color: $color-primary-white;
    // &:hover {
    //   background-color: $color-primary-white;
    //   color: $color-secondary-red;
    // }
  }
  &.is-transparent {
    background-color: transparent;
    border: 1px solid $color-subsidiary-blue-25;
    color: $color-subsidiary-blue-25;
    // &:hover {
    //   background-color: $color-primary-white;
    //   color: $color-subsidiary-blue-25;
    // }
  }
  &.is-yellow {
    background: linear-gradient(180deg, #FCF797 0%, #FBC449 100%);
    box-shadow: 0px 3px 0px #AF8435;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    // @include text-stroke(#002D40, 2px)
    text-shadow: #002D40 2px 0px 0px, 
                #002D40 1.75517px 0.958851px 0px, 
                #002D40 1.0806px 1.68294px 0px,
                #002D40 0.141474px 1.99499px 0px, 
                #002D40 -0.832294px 1.81859px 0px, 
                #002D40 -1.60229px 1.19694px 0px, 
                #002D40 -1.97998px 0.28224px 0px,
                #002D40 -1.87291px -0.701566px 0px, 
                #002D40 -1.30729px -1.5136px 0px, 
                #002D40 -0.421592px -1.95506px 0px, 
                #002D40 0.567324px -1.91785px 0px, 
                #002D40 1.41734px -1.41108px 0px, 
                #002D40 1.92034px -0.558831px 0px;
  }
  &.is-white {
    background-color: $color-primary-white;
    // border: 1px solid $color-secondary-blue-50;
    box-shadow: 0px 3px 0px #AF8435;
    // color: $color-primary-white;
    // &:hover {
    //   background-color: $color-primary-white;
    //   color: $color-secondary-blue-50;
    // }
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1);
  }

  &.is-text {
    color: $color-subsidiary-blue-25;
  }

  &.is-text-dark {
    color: $color-primary-blue;
  }

  &.is-text-white {
    color: $color-primary-white;
  }
  /* END OF COLOR */

  &.is-extra-small {
    padding: .75rem 1rem;
    font-size: $text-sm;
  }
  &.is-small {
    padding: 1.25rem 2rem;
    font-size: $text-md;
  }
  &.is-medium {
    padding: 1.5rem 2rem;
    font-size: $text-md;
  }
  &.is-large {
    padding: 1.4rem 2.4rem;
    font-size: 2rem;
  }
  &.is-rounded {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  &.is-rounded-md {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  &.is-semibold {
    font-weight: 600;
  }
  &.is-semiboldx2 {
    font-weight: 700;
  }
  &.is-bold {
    font-weight: 800;
  }
  &.is-nunito {
    // @include font-face(, $text-md);
    font-family: $font-nunito;
  }
  &.is-shadow {
    // box-shadow: 0px 2px 16px #002D40;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  }
  &.is-white-shadow {
    box-shadow: 0px 2px 16px #FFFFFF;
  }
  &.is-underlined {
    text-decoration: underline;
  }

  &.is-shiny {
    &::after {
      content:'';
      top:0;
      transform:translateX(100%);
      width:100%;
      height:100%;
      position: absolute;
      z-index:1;
      animation: slide 1.75s infinite 3s;
       
      /* 
      CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
      */
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
    }
    
    /* animation */
    
    @keyframes slide {
      0% {transform:translateX(-100%);}
      100% {transform:translateX(100%);}
    }
  }
}