/* ==========================================================================
   color black
   ========================================================================== */
   $color-primary-black             : #000;
   $color-primary-black-75          : #222222;
   $color-secondary-black-75        : #535353;
   $color-secondary-black-50        : #666666;
   $color-secondary-black-25        : #888888;

/* ==========================================================================
   color white
   ========================================================================== */

   $color-primary-white             : #fff;
   $color-secondary-white-25        : #FCFFEE;
   $color-secondary-white-50        : #F5F5F5;

/* ==========================================================================
   color grey
   ========================================================================== */

   $color-primary-grey              : #E5E5E5;
   $color-secondary-grey-25         : #CCE1EC;
   $color-secondary-grey-50         : #CECECE;
   $color-secondary-grey-75         : #bcdfe6;

/* ==========================================================================
   color blue
   ========================================================================== */

   $color-primary-blue              : #1C5D79;
   // $color-secondary-blue-25         : #f0faf4;
   $color-secondary-blue-25         : #E5F8EC;
   $color-secondary-blue-50         : #1C5D79;
   $color-secondary-blue-75         : #0C353B;
   $color-subsidiary-blue-25        : #1FA3DC;
   $color-subsidiary-blue-50        : #3E8ABC;

/* ==========================================================================
   color orange
   ========================================================================== */
   $color-primary-orange            : #FB7E49;


/* ==========================================================================
   color yellow
   ========================================================================== */
   $color-primary-yellow            : #FBC449;
   $color-secondary-yellow-25       : #FCCD50;
   $color-secondary-yellow-75       : #AB8215;


/* ==========================================================================
   color grape
   ========================================================================== */
   $color-primary-grape            : #9B51E0;
   

/* ==========================================================================
   color green
   ========================================================================== */
   $color-primary-green            : #3CC051;

   
/* ==========================================================================
   color red
   ========================================================================== */
   $color-primary-red               : #CE5347;
   $color-secondary-red             : #DA3448;


/* ==========================================================================
   color sand
   ========================================================================== */
   $color-primary-sand              : #F8E9C8;
   $color-primary-sand-2            : #F8F4D8

color temporary
// #001220
// #982822 orange 