/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */

   $breakpoint-tablet-xl: 1279px;
   $breakpoint-tablet-landscape: 1024px;
   $breakpoint-tablet: 768px;
   $breakpoint-mobile-landscape: 736px;
   $breakpoint-mobile: 480px;

 /* ==========================================================================
    FONT FAMILY
    ========================================================================== */
    $font-nunito        : 'Nunito', sans-serif;
    $font-G8            : 'G8321', sans-serif;
 
 /* ==========================================================================
    FONT SIZE
    ========================================================================== */
    
    $text-6xl: 4.8rem;
    $text-5xl: 4rem;
    $text-4xl: 3.6rem;
    $text-3xl: 3.2rem;
    $text-2xl: 2.4rem;
    $text-xl: 2rem;
    $text-lg: 1.8rem;
    $text-md: 1.6rem;
    $text-sm: 1.4rem;
    $text-xs: 1.2rem;
    $text-2xs: 1rem;
    $text-3xs: 0.8rem;
